h5 span{
position: absolute;
font-size: 18px;
color: #fff;
margin-top: 1.5rem;
margin-left: .5rem;
}

h5 img{
height: 44px;
width: 44px;
margin-top: 1rem;
border: 1px solid #fff;
border-radius: 50%;
}